.places h1{
    font-size: 30px;
    flex-basis: 100%;
}


.places article{
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    width: 395px;
}

.places article h2{
    text-align: center;
    font-size: 30px;
}
.places {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex{
    display:flex;
    align-content:center;
    margin-left:-120%;
}
.rock{
    margin-right: 135%;
}
.left{
    margin-top:30%;
    margin-right:410%;
}